/* 
1. Positioning
2. Box model
3. Typography
4. Visuals
5. Other
*/

:root
{
    /* COLORS */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}


/* HEADER SECTION */

header
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    min-width: 320px;
    height: 35.3rem;

    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

}

header img
{
    align-self: center;

    width: 150px;
    height: 24px;
}

.header__title-container
{
    align-self: center;
    margin-top: 40px;

    width: 90%;
    min-width: 288px;
    height: 138px;
}

.header__title-container h1
{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--just-white);
}

.header__title-container p
{
    margin-top: 24px;

    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;

    color: var(--soft-orange);
}

.header__button
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 115px);
    bottom: -20px;

    padding: 12px 16px;
    width: 230px;
    height: 48px;
    
    font-size: 1.4rem;
    font-weight: 700;
    
    border: none;
    outline: none;
    border-radius: 4px;
    text-decoration: none;

    color: var(--warm-black);
    background-color: #FAF8F7;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header__button span
{
    display: inline-block;

    margin-left: 16px;
    width: 1.2rem;
    height: .8rem;

    background-image: url("../assets/icons/arrows/black-down-arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* MAIN SECTION */

main
{
    width: 100%;
    height: auto;
    
    background-color: var(--off-white);
}

.main-exchange-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px; 
    
}

.main-exchange-container__background-image
{
    width: 195px;
    height: 195px;
    margin-bottom: 40px;

    background-image: url("../assets/img/bitcoin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-exchange-container__title
{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    text-align: center;
}

.main-exchange-container__title h2
{
    margin-bottom: 2.4rem;

    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;

    color: var(--warm-black);
}

.main-exchange-container__title p
{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

    color: #757575;
}

/* EXCHANGE GRID SECTION */

.main-tables-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 48px;
}

.main-tables-container__title
{
    position: relative;
    right: 50px;
    
    margin-bottom: 1.2rem;

    font-size: 1.8rem;
    font-weight: 700;
    
    color: #FF9536;
}

.main-tables-container__grid
{
    position: relative;
    display: grid;
    grid-template: 4 / 2;
    grid-gap: 1px;
    
    width: 197px;
}

.main-tables-container__right-arrow-icon
{
    position: absolute;
    top: 47%;
    right: -40px;
    width: 12px;
    height: 7.41px;
}

.main-tables-container__grid span
{
    text-align: left;
    font-size: 1.6rem;
    font-weight: 500;

    color: #B5B0AC;
}

.main-tables-container__grid p
{
    font-size: 1.4rem;
    font-weight: normal;
    
    color: #757575;
}

.main-tables-container__grid img
{
    width: 18px;
    height: 12px;
}

.grid-child
{
    display: flex;
    align-items: center;

    padding: 10px;

    background-color: var(--just-white);
}

.price-area
{
    justify-content: space-between;
}

.main-tables-container__grid-child-1
{
    grid-area: 1 / 1 / 2 / 2;
}
.main-tables-container__grid-child-2
{
    grid-area: 1 / 2 / 2 / 3;
}
.main-tables-container__grid-child-3
{
    grid-area: 2 / 1 / 3 / 2;
}
.main-tables-container__grid-child-4
{
    grid-area: 2 / 2 / 3 / 3;
}
.main-tables-container__grid-child-5
{
    grid-area: 3 / 1 / 4 / 2;
}
.main-tables-container__grid-child-6
{
    grid-area: 3 / 2 / 4 / 3;
}
.main-tables-container__grid-child-7
{
    grid-area: 4 / 1 / 5 / 2;
}
.main-tables-container__grid-child-8
{
    grid-area: 4 / 2 / 5 / 3;
}

.main-tables-container__update
{
    width: 173px;
    height: 31px;
    padding: 8px;
    border-radius: 8px;
    margin-top: 16px;
    
    font-size: 1.2rem;
    text-align: center;

    background-color: var(--soft-orange);
}

.main-tables-container__update span
{
    font-weight: 700;
}

/* PRODUCT SERVICES SECTION */

.main-product-benefits-container
{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--warm-black);
}

.main-product-benefits-container__batabit-image
{
    position: relative;
    top: -10px;
}

.main-product-benefits-container__title
{
    text-align: center;

    width: 288px;
    height: auto;
    padding: 40px 0;
}

.main-product-benefits-container__title h2
{
    margin-bottom: 2.4rem;

    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;

    color: var(--just-white);
}

.main-product-benefits-container__title p,
.service-card p
{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    
    color: #808080;
}

.service-card
{
    width: 288px;
    height: auto;
    padding: 20px;
    margin-bottom: 16px;
    border-radius: 4px;
    
    background-color: var(--black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.service-card__icon
{
    display: block;
    margin-bottom: 10px;
}

.service-card__title
{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin-bottom: 10px;

    color: var(--just-white);
}